/.gradle
/.settings
/bin
/build
/.classpath
/.project
/bower_components
/logLocation_IS_UNDEFINED
/node_modules
/.idea
/src/main/main.iml
/src/test/test.iml
/src/main/resources/rebel.xml
/.eslintrc
/src/main/resources/static/compile
*.iml
Cloud/*
