<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Welcome, SR Cloud</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/templatemo-style.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" rel="stylesheet"/>

    <style>
        .jstree-anchor {
            color : lightgray !important;
        }

        tr:hover {
            background-color: #999999;
        }
    </style>
</head>
<body>
<!-- Left column -->
<div class="templatemo-flex-row">
    <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
            <div class="square"></div>
            <h1>
                <a href="/">SR Cloud</a>
            </h1>
        </header>
        <div class="profile-photo-container" align="center">
            <img th:src="${session.userInfo.image}" alt="profile" class="img-circle"/>
        </div>
        <ul align="center">
            <li><font color="white" th:text="${session.userInfo.email}" /></li>
            <li><font color="white" th:text="${session.userInfo.teamName} + ' / ' + ${session.userInfo.name}"/></li>
            <li><a href="/logout">Logout</a></li>
            <hr/>
        </ul>


        <div id="folderTree"></div>
    </div>
    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <ul class="text-uppercase">
                        <li>
                            <span class="label label-primary">
                                <label style="cursor: pointer;" onclick="addFolder()">새폴더</label>
                            </span>
                        </li>
                        <li>
                            <form id="upload-file-form">
                               <span class="label label-warning">
                                    <label for="upload-file-input" style="cursor: pointer;">올리기</label>
                                    <input class="file-input" id="upload-file-input" type="file" name="uploadfile" accept="*" style="display:none" />
                                </span>

                            </form>
                        </li>
                        <li>
                            <span class="label label-danger">
                                <label style="cursor: pointer;" onclick="deleteFile()">삭제</label>
                            </span>
                        </li>
                    </ul>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <form action="shortCut" method="get">
                                <input type="text" id="search" name="path" class="form-control" placeholder="Search for..."/>
                            </form>
                            <span class="input-group-btn">
                               <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div id="pathCheck"></div>
                </nav>
            </div>
        </div>
        <div id ="filedrag">
            <div class="templatemo-content-container">
                <div class="alert alert alert-info" role="alert">
                    <p><b> [PATH] &nbsp;&nbsp;&nbsp;</b> <i th:text=" ${session.path}"/> </p>
                </div>
                <div class="alert alert-warning" role="alert">
                    <p>
                        <b> [INFO] </b> <img src="img/folder.jpg" title="Folder"/> <b th:text="${session.list.dirSize}"/> <img src="img/file.jpg" title="File"/>  <b th:text="${session.list.fileSize}"/> &nbsp;&nbsp;&nbsp; (<b th:text="${session.list.dirSize}+${session.list.fileSize}"/>)
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        <b> [PAGE] </b> 페이지당 보여줄 Data의 개수 : <input id="changeCountValue" type="number" min="1" th:value="${session.list.pagingSize}" th:max="${session.list.dirSize}+${session.list.fileSize}"/> <img src="img/check.png" title="PAGE Setting" style="cursor:pointer;" onclick="changePage()"/>
                    </p>
                </div>
                <div class="templatemo-flex-row flex-content-row templatemo-overflow-hidden">
                    <!-- overflow hidden for iPad mini landscape view-->
                    <div class="col-1 templatemo-overflow-hidden">
                        <div class="templatemo-content-widget white-bg templatemo-overflow-hidden">
                            <div class="templatemo-flex-row flex-content-row">
                                <table id="showFile">
                                    <colgroup>
                                        <col width="50"/>
                                        <col width="500"/>
                                        <col width="300"/>
                                        <col width="300"/>
                                        <col width="200"/>
                                        <col width="200"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>NAME</th>
                                        <th>SIZE</th>
                                        <th>DATE</th>
                                        <th>TYPE</th>
                                        <th>MEMO</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="showList" th:if="${session.parentDirectory} != ''">
                                        <td></td>
                                        <td class="folder-list" style="cursor:pointer" th:value="${session.parentDirectory}"><img src="img/root.png" th:text=".." /></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr class="showList" th:each="list : ${session.list.dataList}">
                                        <td><input type="radio" name="checkData" th:value="${list.name}"/></td>
                                        <td th:class="${list.file ? 'file-list' : 'folder-list'}" th:value="${list.file ? list.name : list.path}" style="cursor: pointer;">
                                            <img th:src="${list.file ? 'img/file.jpg' : 'img/folder.jpg'}" th:text="${list.name}" /></td>
                                        <td th:text="${list.size}"/>
                                        <td th:text="${list.date}"/>
                                        <td th:text="${list.type}"/>
                                        <td class="modal_memo" th:value="${list.file}" style="cursor: pointer;"><img src="img/memo.jpg"/> </td>
                                        <td/>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                            </li>

                            <li th:class="${ ( (param.currentPage != null) and (param.currentPage[0] == page.toString()))
                                                                              or ( (param.currentPage == null) and (page == 1) ) } ? 'active' : ''"
                                th:each="page : ${#numbers.sequence( 1, session.list.pageList)}">
                                <a th:if="${page != 0}" th:text="${page}" class="page-num" style="cursor:pointer;"/>
                            </li>

                            <li>
                                <a href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <footer class="text-right">
                <p>Copyright &copy; Seryang | All right reserved.</p>
            </footer>
        </div>
    </div>
</div>

<!-- modal fade -->
<div class="modal fade" >
    <div class="header" align="center" th:text="'['+${session.userInfo.name} + '님의 메모 History]'"/>
    <div class="content" align="center"></div>
    <form align="center" id="memoform" onSubmit="return false;">
        <input type="text" id="memocontent" placeholder="write comment here! "/>
        <input type="submit"  class="ctn ctn-primary" value="write"/>
    </form>
</div>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/fileStream.js"></script>

<!-- jQuery -->
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/templatemo-script.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>

<!-- Modal -->
<script src="js/jquery.modal.js" type="text/javascript"></script>
<link href="css/jquery.modal.css" rel="stylesheet" type="text/css" />

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {

        var type;
        var path;

        // 메모 (모달)
        $(".modal_memo").click(function(){
            type = $(this).attr("value");
            if(type == "true"){
                type = "file";
                path = $(this).siblings(".file-list").attr("value");
            }else{
                type="folder";
                path = $(this).siblings(".folder-list").attr("value");
            }

            /*<![CDATA[*/
            $.ajax({
                url : "memo",
                type : "get",
                data : "path="+ path +"&type=" +type,
                dataType : "json",
                success : function(data) {
                    $(".content").empty();
                    if(data.length == 0){
                        $(".content").append("<b><br/>작성된 메모가 없습니다.<br/><hr/></b>");
                    }else{
                        $(data).each(function() {
                            var d = new Date(this.regDate);
                            $(".content").append("<p value='"+this.no+"'><b>" + htmlentitiesEncode(this.memoContent) + "</b>  (" + d.getFullYear() + "-" + d.getMonth() + "-" + d.getDate() + " " + d.getHours() +":"+ d.getMinutes()+":"+ d.getSeconds()+")   <img title='삭제' src='img/remove.png' style='cursor:pointer;' onclick='removeMemo(this)'/> <img title='수정' src='img/modify.png' style='cursor:pointer;' onclick='modifyMemo(this)'/></p>");
                        });
                    }
                    $(".modal").modal();
                },
                error : function(err) {
                    alert("[ERROR] 다시 시도해주세요.");
                }
            });
            /*]]>*/
        });

        // 메모 작성
        /*<![CDATA[*/
        $("#memoform").submit(function() {
            if($("#memocontent").val())
                $.ajax({
                    url : "writeMemo",
                    type : "post",
                    dataType : "json",
                    data: "path=" + path + "&type=" + type + "&comment=" + encodeURIComponent($("#memocontent").val()),
                    success : function(here) {
                        alert("메모가 작성되었습니다.");
                        if($(".content > b").length == 1){
                            $(".content > b").remove();
                        }
                        var da = new Date(here.regDate);
                        $(".content").append("<p value='"+here.no+"'><b>" + htmlentitiesEncode(here.memoContent) + "</b>(" + da.getFullYear() + "-" + da.getMonth() + "-" + da.getDate() + " " + da.getHours() +":"+ da.getMinutes()+":"+ da.getSeconds()+") &nbsp;&nbsp;  <img title='삭제' src='img/remove.png' style='cursor:pointer;' onclick='removeMemo(this)'/> <img title='수정' src='img/modify.png' style='cursor:pointer;' onclick='modifyMemo(this)'/></p>");
                        $("#memocontent").attr("value","");
                    },
                    error : function(err) {
                        alert("[ERROR] 다시 시도해주세요.");
                    }
                });
        });
        /*]]>*/

        $("#upload-file-input").on("change", valid_fileCheck);

        // File Download
        $(".file-list").click(function(){
            var fileName = $(this).attr("value");
            if(confirm(fileName + " 파일을 다운로드하시겠습니까?")){
                location.href="downloadFile?fileName="+encodeURIComponent(fileName);
            }
        });

        // Move Folder
        $(".folder-list").click(function(){
            var path = $(this).attr("value");
            location.href="moveFolder?path="+path;
        });

        // Folder Tree
        $(function() {
            $('#folderTree').jstree({
                'core' : {
                    'data' : {
                        "url" : "tree",
                        "dataType" : "json"
                    }
                }
            });
        });

        // Folder Tree - Move Folder
        $('#folderTree').on("changed.jstree", function (e, data) {
            location.href="moveFolder?path="+data.selected;
        });

        // Page Move
        $('.page-num').click(function () {
            var pageNum = $(this).text();
            var sessionPath = [[${session.path}]];
            /*<![CDATA[*/
            location.href = "moveFolder?path=" + sessionPath + "&currentPage=" + pageNum;
            /*]]>*/
        });

        // ShortCut - Vlid Check
        $("#search").keyup(function() {
            $.ajax({
                url : "checkPath",
                type : "post",
                dataType : "text",
                data : "path="+$("#search").val(),
                success : function(data) {
                    if(data == "Not found."){
                        $("#pathCheck").html(data);
                        $("#pathCheck").css("color", "#b22222");
                    }else{
                        $("#pathCheck").html(data);
                        $("#pathCheck").css("color", "#708090");
                    }
                },
                error : function(err) {
                    alert("[ERROR] 다시 시도해주세요.");
                }
            });
        });
    });

    // 메모 삭제
    function removeMemo(target){
        var no = $(target).parent().attr("value");
        $.ajax({
            url : "removeMemo",
            type : "post",
            dataType : "text",
            data : "no="+no,
            success : function(data) {
                alert(data);
                $(target).parent().remove();
                if( $(".content > p").length == 0 ){
                    $(".content").append("<b><br/>작성된 메모가 없습니다.<br/><hr/></b>");
                }
            },
            error : function(err) {
                alert("[ERROR] 다시 시도해주세요.");
            }
        });
    }

    // 메모 수정
    /*<![CDATA[*/
    function modifyMemo(target){
        var no = $(target).parent().attr("value");
        var newMemo = prompt('메모를 변경하세요.', $(target).siblings("b").text());
        if(newMemo !=null) {
            $.ajax({
                url: "modifyMemo",
                type: "post",
                data: "no=" + no + "&comment=" + newMemo,
                success: function (here) {
                    alert("메모가 수정되었습니다.");
                    $(target).parent().remove();
                    var da = new Date(here.regDate);
                    $(".content").append("<p value='" + here.no + "'><b>" + htmlentitiesEncode(here.memoContent) + "</b>(" + da.getFullYear() + "-" + da.getMonth() + "-" + da.getDate() + " " + da.getHours() + ":" + da.getMinutes() + ":" + da.getSeconds() + ") &nbsp;&nbsp;  <img title='삭제' src='img/remove.png' style='cursor:pointer;' onclick='removeMemo(this)'/> <img title='수정' src='img/modify.png' style='cursor:pointer;' onclick='modifyMemo(this)'/></p>");
                },
                error: function (err) {
                    alert("[ERROR] 다시 시도해주세요.");
                }
            });
        }
    }
    /*]]>*/

    // 페이징 수 변경
    function changePage(){
        var count = parseInt($("#changeCountValue").val());
        /*<![CDATA[*/
        if(count <= 0){
            /*]]>*/
            alert("유효하지 않는 범위입니다.");
        }else {
            $.ajax({
                url: "changePage",
                type: "post",
                dataType: "text",
                data: "count=" + count,
                success: function (data) {
                    alert(data);
                    location.reload();
                },
                error: function (err) {
                    alert("[ERROR] 다시 시도해주세요.");
                }
            });
        }
    }

    // 파일 및 폴더 삭제
    function deleteFile(){
        alert("공사중");
    }


    // encodes html string
    /*<![CDATA[*/
    function htmlentitiesEncode(str) {
        return str.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }
    /*]]>*/

    // HTML5 - Drag and Drop Upload
    $(document).on('dragenter', function (e){
        e.stopPropagation();
        e.preventDefault();
    });
    $(document).on('dragover', function (e){
        e.stopPropagation();
        e.preventDefault();
        obj.css('border', '2px dotted #0B85A1');
    });
    $(document).on('drop', function (e){
        e.stopPropagation();
        e.preventDefault();
    });
    var obj = $("#filedrag");
    obj.on('dragenter', function (e){
        e.stopPropagation();
        e.preventDefault();
        $(this).css('border', '2px solid #0B85A1');
    });
    obj.on('dragover', function (e){
        e.stopPropagation();
        e.preventDefault();
    });
    obj.on('drop', function (e){
        $(this).css('border', '2px dotted #0B85A1');
        e.preventDefault();
        var files = e.originalEvent.dataTransfer.files;
        uploadFromDragAndDrop(files);
        $(this).css('border', '0px');
    });
</script>
</body>
</html>