<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome, EST Cloud</title>
    <meta name="description" content="" />
    <meta name="author" content="templatemo" />

    <link
            href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700'
            rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />

    <style>
        #upload-file-input {
            display: none;
        }

        #download-file-input {
            display: none;
        }

    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Left column -->
<div class="templatemo-flex-row">
    <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
            <div class="square"></div>
            <h1>
                <a href="/">EST Cloud</a>
            </h1>
        </header>
        <div class="profile-photo-container" align="center">
            <img th:src="${userInfo.image}" alt="profile" class="img-circle"/>
        </div>
        <ul align="center">
            <li><font color="white" th:text="${userInfo.email}" /></li>
            <li><font color="white" th:text="${userInfo.teamName} + ' / ' + ${userInfo.name}"/></li>
            <li><a href="/logout.est">Logout</a></li>
            <hr/>
        </ul>
    </div>
    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <ul class="text-uppercase">
                        <li>
                            <button type="button">
                                <label for="folder-plus" style="cursor: pointer;" onclick="addFolder()">Folder +</label>
                            </button>
                        </li>
                        <li>
                            <form id="upload-file-form">
                                <button type="button">
                                    <label for="upload-file-input" style="cursor: pointer;">Upload</label>
                                    <input class="file-input" id="upload-file-input" type="file" name="uploadfile" accept="*" />
                                </button>
                            </form>
                        </li>
                        <li>
                            <form id="download-file-form">
                                <button type="button">
                                    <label for="download-file-input" style="cursor: pointer;">Download</label>
                                    <input class="file-input" id="download-file-input" type="file" name="downloadfile" accept="*" />
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="templatemo-content-container">
            <div class="templatemo-flex-row flex-content-row templatemo-overflow-hidden">
                <!-- overflow hidden for iPad mini landscape view-->
                <div class="col-1 templatemo-overflow-hidden">
                    <div class="templatemo-content-widget white-bg templatemo-overflow-hidden">
                        <div class="templatemo-flex-row flex-content-row">
                            <table id="showFile">
                                <colgroup>
                                    <col width="500"/>
                                    <col width="100"/>
                                    <col width="200"/>
                                    <col width="100"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>파일명</th>
                                    <th>사이즈</th>
                                    <th>날짜</th>
                                    <th>파일타입</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="text-right">
                <p>Copyright &copy; Seryang | All right reserved.</p>
            </footer>
        </div>
    </div>
</div>

<!-- JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/fileStream.js"></script>
<!-- jQuery -->
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/templatemo-script.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#upload-file-input").on("change", uploadFile);
    });

    /**
     * Upload the file sending it via Ajax at the Spring Boot server.
     */

    /*
     * Add Folder Method
     */
    function addFolder() {

        var folderName = prompt("생성할 폴더명을 입력해주세요", "");

        if (folderName != "") {
            if (folderName != null) {
                $.ajax({
                    url: "/addFolder",
                    type: "GET",
                    data: "folderName=" + encodeURIComponent(folderName),
                    dataType: "text",
                    success: function (data) {
                        alert(data);
                        if (data == "폴더가 생성되었습니다.") {
                            $("#showFile").append("<li>" + "<a>" + folderName + "</a></li>");
                        }
                    },
                    error: function () {
                        alert("[Error]다시 시도해 주세요.")
                    }
                });
            }
        } else {
            alert("폴더명을 입력하세요.");
        }
    }
</script>
</body>
</html>