<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Welcome, Team Cloud</title>
<meta name="description" content="" />
<meta name="author" content="templatemo" />

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700'
	rel='stylesheet' type='text/css' />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/templatemo-style.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<!-- Left column -->
	<div class="templatemo-flex-row">
		<div class="templatemo-sidebar">
			<header class="templatemo-site-header">
				<div class="square"></div>
				<h1>
					<a href="/">Team Cloud</a>
				</h1>
			</header>
			<div class="profile-photo-container">
				<img src="{{userInfo.image}}" alt="profile" class="img-responsive" />
				<div class="profile-photo-overlay"></div>
			</div>
			<ul>
				<li><i class="fa fa-eject fa-fw"></i><font color="white"><p
							th:text="${userInfo.email}" /></font></li>
				<li><i class="fa fa-eject fa-fw"></i><font color="white"><p
							th:text="${userInfo.teamName}" /></font></li>
				<li><i class="fa fa-eject fa-fw"></i><font color="white"><p
							th:text="${userInfo.name}" /></font></li>
				<li><a href="/logout.est"><i class="fa fa-eject fa-fw"></i>Logout</a></li>
			</ul>
		</div>
		<!-- Main content -->
		<div class="templatemo-content col-1 light-gray-bg">
			<div class="templatemo-top-nav-container">
				<div class="row">
					<nav class="templatemo-top-nav col-lg-12 col-md-12">
						<ul class="text-uppercase">
							<li><a href="#">File Download</a></li>
							<form id="upload-file-form">
								<label for="upload-file-input">Upload your file:</label> <input
									id="upload-file-input" type="file" name="uploadfile" accept="*" />
							</form>
						</ul>
					</nav>
				</div>
			</div>
			<div class="templatemo-content-container">
				<div
					class="templatemo-flex-row flex-content-row templatemo-overflow-hidden">
					<!-- overflow hidden for iPad mini landscape view-->
					<div class="col-1 templatemo-overflow-hidden">
						<div
							class="templatemo-content-widget white-bg templatemo-overflow-hidden">
							<div class="templatemo-flex-row flex-content-row">wow.jpg</div>
						</div>
					</div>
				</div>
				<footer class="text-right">
					<p>Copyright &copy; Seryang | All right reserved.</p>
				</footer>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="js/jquery-1.11.2.min.js"></script>
	<!-- jQuery -->
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<!--  jQuery Migrate Plugin -->
	<script src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="js/templatemo-script.js"></script>
	<script type="text/javascript">
		// bind the on-change event
		$(document).ready(function() {
			$("#upload-file-input").on("change", uploadFile);
		});

		/**
		 * Upload the file sending it via Ajax at the Spring Boot server.
		 */
		function uploadFile() {
			$.ajax({
				url : "/uploadFile",
				type : "POST",
				data : new FormData($("#upload-file-form")[0]),
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				cache : false,
				success : function() {
					// Handle upload success
					// ...
				},
				error : function() {
					// Handle upload error
					// ...
				}
			});
		} // function uploadFile
	</script>
</body>
</html>